body {
    background-color: #F4FFEE;
}
/* HEADER */
.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 170px;
    background: #59AD33 url('./images/animals.jpg') no-repeat top left;
    background-size: 300px 170px;
    box-shadow: 0px 0px 15px #343434;
    z-index: 1;
}
.header span {
    color: #FFFFFF;
    font-size: 65px;
    position: absolute;
    right: 70px;
    top: 50%;
    transform: translateY(-50%);
    cursor: default;
}

/* CONTENT */
.content {
    padding-top: 190px;
}
.content .padding-fix {
    padding-top: 8px;
    position: fixed;
    z-index: 1;
}
.content .vertical-separator {
    border-right: 1px solid #59AD33;
}
.content .result-table {
    float: right;
}
.btn-green {
    background-color: #59AD33;
    border-color: #35661e;
}
.btn-green:hover, .btn-green:focus, .btn-green:active {
    background-color: #488A2A;
    border-color: #35661e;
}

/* DIALOG */
#manage_zoonyms_dialog div.modal-dialog {
    width: 400px;
}
#manage_zoonyms_dialog div.modal-body {
    overflow-y: auto;
    max-height: 65vh;
}
#manage_zoonyms_dialog li.list-group-item div.edit-remove {
    visibility: hidden;
}
#manage_zoonyms_dialog li.list-group-item:hover div.edit-remove {
    visibility: visible;
}

div#loading {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: none;
    background: rgba(100,100,100,0.5) url(images/loading.gif) no-repeat center;
    z-index: 100;
}